/*body{
    background-color: black;
}
#navbar{
    background-color: #00fa9a;
}
#name{
    color: #e3e6eb;
}
.nav-list{
    color: #e3e6eb;
    display: inline;
}
.section{
    background-color: #252525;
}
#About-me{
    color: #e3e6eb;
}
.nav-title{
    color: #00fa9aab;
}*/